{% extends 'base.html' %}

{% block title %}About - F-1 Pick'em{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<div class="about container-fluid">
    <h1>About us!</h1>
    <p>Welcome to the about page of our F-1 Pick'em application. Here, we are passionate about Formula 1 racing and aim to provide an engaging platform for fans to participate in pick'em contests. Our mission is to enhance the F-1 experience by allowing users to test their knowledge and predictions against fellow enthusiasts. Join us on this thrilling journey through the world of Formula 1!</p>
</div>
{% endblock %}