{% extends "base.html" %}

{% load static %}
{% block title %}Add New Driver - Apex Picks{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/driver_form.css' %}">
{% endblock css %}

{% block content %}
<div class="driver-form container mt-4">
    <h1>Add New Driver</h1>
    <div class="form">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Save Driver</button>
        </form>
    </div>
</div>
{% endblock content %}