* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--font-color);
}

:root {
    --surface-color: #121212;
    --surface-color-2: #3f3f3f;
    --secondary-color: #878ed5;
    --font-color: #cacbed;
    --primary-color: #282828;
    --accent-red: #e10600;
}

body {
    background-color: var(--surface-color);
    color: var(--font-color);
    font-family: 'Arial', sans-serif;
}

main {
    min-height: 80vh;
}

a {
    color: var(--font-color);
    text-decoration: none;
}

.navbar{
    color: var(--font-color) !important;
    background-color: var(--primary-color) !important;
    min-height: 56px;
    padding: 0.5rem 1rem;
}

.navbar-nav .nav-link {
    color: var(--font-color) !important;
}

.navbar-nav .nav-link:hover {
    color: var(--secondary-color) !important;
}

.navbar-nav .nav-link.active {
    color: var(--secondary-color) !important;
}

.navbar-toggler {
    border-color: var(--font-color);
}

.navbar-toggler-icon {
    filter: invert(1); 
}

.nav-img {
    height: 56px;
    width: auto;
    margin-right: 5px;
}

.footer {
    background-color: var(--primary-color);
    color: var(--font-color) !important;
    text-align: center;
}

.footer-social a {
    color: var(--font-color) !important;
    margin: 0 10px;
    font-size: 24px;
}

.footer-copyright {
    background-color: var(--surface-color-2);
    color: var(--font-color) !important;
    text-decoration: none;
}

/* Media Queries */
@media (max-width: 768px) {
    .navbar {
        padding: 0;
        min-height: 56px;
    }
    
    .nav-img {
        height: 60px;
    }
    
    .footer-social {
        padding: 1rem !important;
    }
    
    .footer-social a {
        font-size: 20px;
        margin: 0 6px;
    }
    
    .footer .container {
        padding: 0 15px;
    }
    
    .footer .row {
        text-align: center !important;
    }
    
    .footer .col-md-3,
    .footer .col-md-2 {
        margin-bottom: 20px;
    }
}