* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--font-color);
}

:root {
    --surface-color: #121212;
    --surface-color-2: #3f3f3f;
    --secondary-color: #878ed5;
    --font-color: #cacbed;
    --font-family: 'Arial', sans-serif;
    --primary-color: #282828;
}
.navbar{
    color: var(--font-color) !important;
    background-color: var(--primary-color) !important;
    min-height: 56px;
    max-height: 56px;
    padding: 0.5rem 1rem;
}

.navbar-nav .nav-link {
    color: var(--font-color) !important;
}

.navbar-nav .nav-link:hover {
    color: var(--secondary-color) !important;
}

.navbar-nav .nav-link.active {
    color: var(--secondary-color) !important;
}

.navbar-toggler {
    border-color: var(--font-color);
}

.navbar-toggler-icon {
    filter: invert(1); 
}

.nav-img {
    height: 90px;
    width: auto;
    margin-right: 5px;
}

body {
    background-color: var(--surface-color);
}

main {
    min-height: 80vh;
}

a {
    color: var(--font-color);
    text-decoration: none;
}

.footer {
    background-color: var(--primary-color);
    color: var(--font-color) !important;
    text-align: center;
}

.footer-social a {
    color: var(--font-color) !important;
    margin: 0 10px;
    font-size: 24px;
}

.footer-copyright {
    background-color: var(--surface-color-2);
    color: var(--font-color) !important;
    text-decoration: none;
}