
.teams {
    text-align: center;
    margin-top: 20px;
    color: var(--accent-red);
}
.team-list {
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    gap: 20px;
    text-align: center;
    justify-content: center;
}

.team-card {
    background: linear-gradient(135deg, var(--primary-color) 0%, var(--surface-color-2) 100%);
    display: inline-block;
    width: 400px;
    border: 1px solid #b0b2e3;
    border-radius: 8px;
    padding: 10px;
    color: var(--font-color);
    text-align: left;
    vertical-align: top;
}

.team-card img {
    width: 100%;
    height: 250px;
    border-radius: 4px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .team-card {
        max-width: 100%;
        width: 100%;
    }

    .team-list {
        margin: 20px;
    }
}