
<footer class="text-center text-lg-start footer">
    <section class="d-flex justify-content-between p-4 footer-social">
        <div>
            <a href="" class="me-4">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class=" me-4">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </section>
            
    <section>
        <div class="container text-center text-md-start mt-5 footer-social">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold">Apex Picks</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; height: 2px"/>
                    <p>This is my personal portfolio website where I showcase my projects and experience.</p>
                </div>
                        
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold">Useful links</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; height: 2px"/>
                    <p><a href="#" class="">Github</a></p>
                    <p><a href="#" class="">Projects</a></p>
                    <p><a href="#" class="">Contact</a></p>
                </div>   
            </div>
        </div>
    </section>
    <!-- Copyright -->
     <section class="footer-copyright">
        <div class="text-center p-3">
             © 2025 Copyright |
             <a href="{% url 'home' %}">Apex Picks</a>
        </div>   
    </section>
</footer>